.applet .irc-input {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 10px;
    width: 100%;
    border-top: 1px solid yellowgreen;
    padding-top: 10px;
  }

.applet .irc-input > input {
    width: 90%;
    margin-left: 10px;
    color: greenyellow;
    background-color: rgb(24, 23, 23);
    border-color: greenyellow;
    font-family: monospace;
}

.applet .irc-input .irc-send {
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid yellowgreen;
    background-color: transparent;
    padding: 4px 10px;
    color: yellowgreen;
}