.applet {
  position: relative;
  width: 400px;
  height: 400px;
  background: #CCC;
  padding: 10px;
  margin-bottom: 10px;
}

/* other items appear above handle */
.applet > * {
  position: relative;
}

/* handle appears behind other elements
   takes up entire size of parent */
.applet .handle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  background: black;
  color: white;
  padding: 5px;

}

.top-bar {
  display: flex;
  flex-direction: row;
}

.minimize-box {
  margin-right: 10px;
  margin-left: 2px;
  width: 20px;
  height: 20px;
  
  border: 1px solid grey;
  border-radius: 1px;

}

.minimize-icon {
  padding: 3px;
  color:lightpink;
  line-height: 3px;
}

.applet-name {
  font-style: oblique;
  margin-top: 2px;
}

.is-dragging .handle{
  background: #09F;
}

.content {
  position: relative;
  top: 20px;
}