.applet {
  position: relative;
  width: 400px;
  height: 300px;
  background: rgb(24, 23, 23);
  margin-bottom: 10px;
  color: greenyellow;
  border: 1px solid;
  font-family: monospace;
}

/* other items appear above handle */
.applet > * {
  position: relative;
}

/* handle appears behind other elements
   takes up entire size of parent */
.applet .handle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  background: black;
  color: greenyellow;
  padding: 5px;

}

.top-bar {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid greenyellow;
}

.minimize-box {
  margin-right: 10px;
  margin-left: 2px;
  width: 20px;
  height: 20px;
  
  border: 1px solid grey;
  border-radius: 1px;

}

.minimize-icon {
  padding: 1px;
  color:fuchsia;
  line-height: 3px;
}

.applet-name {
  font-style: oblique;
  margin-top: 2px;
}

.is-dragging .handle{
  background: inherit;
}

.content {
  position: relative;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  top: 30px;
  padding: 0 10px 10px 10px;
  height: calc(100% - 60px);
}

.content::-webkit-scrollbar {
  width: 10px;
  padding-right: 10px;

}

.content::-webkit-scrollbar-thumb {
  background-color: yellowgreen;
}

.content::-webkit-scrollbar-corner {
  background-color: transparent;
}
